* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  ul {
    list-style-type: none;
  }
  
  button {
    border: none;
    cursor: pointer;
    background: none;
  }
  select:focus,
  button:focus {
    outline: none;
  }
  
  html {
    font-family: "Lato", sans-serif;
  }
  .editor-container {
    user-select: none;
    width: 100vw;
    height: 80vh;
  
    display: grid;
    grid-template-columns: 350px 1fr 50px;
  }
  
  .editor-container.fullscreen {
    height: 100vh;
    background-color: white;
  }
  
  .canvas-parent {
    border: 1px solid rgb(204, 204, 204);
    overflow: hidden;
  }
  .canvas-parent .status-bar{
    padding-top: 38px;
  }
  .controllers {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  .controllers::-webkit-scrollbar{
    width: 0px;
  }
  
  .controllers span {
    font-size: 2rem;
    border-bottom: 1px solid rgb(172, 172, 172);
    color: #222;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .controllers span:hover,
  .controllers span.active {
    background-color: #444;
    color: white;
  }
  #takeofftemplate_model_div, #stages_model_div{
    display: none;
  }
  .stage-content.no-stage > *{
    position: absolute;
    width: 100%;
    height: 215px;
    top: 0;
    left: 0;
    margin-top: 1rem;
  }
  .editor-container{
    user-select: none;
    max-width: 100vw;
    height: 80vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 350px 1fr 50px;
  }
input[type="text"], input[type="number"], input[type="email"]{
    display: block!important;
    width: 100%!important;
    height: calc(1.5em + .75rem + 2px)!important;
    padding: .375rem .75rem!important;
    font-size: 1rem!important;
    font-weight: 400!important;
    line-height: 1.5!important;
    color: #495057!important;
    background-color: #fff;
    background-clip: padding-box!important;
    border: 1px solid #ced4da!important;
    border-radius: 5px!important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out!important;
  }
  #measurementModelJS .changeAble .radio-con{
    border:none!important;
    background: #eeeeee!important;
  }
  #measurementModelJS .changeAble .radio-con input[type="number"]{
    border-left: 0!important;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
  }
  #measurementModelJS input[disabled="disabled"]{
    background: #eee!important;
    border:none!important;
  }
  .scCustom{
    background: #fff!important;
  }
  .scCustom #symbolSearchBox{
    margin-bottom: 0!important;
    margin-top: 0!important;
  }
  .scCustom input, .scCustom select{
    box-shadow: none!important;
    outline: none!important;
  }